body{
  background-color: #f7f7f7;
  font-family: Verdana;
  max-width: 900px;
  margin: auto;
}

a{
  color: #505050;
  text-decoration: line-through;
}

.photo{
  border: 1px #505050 solid;
  border-radius: 50px;
}

#title, .subtitle, .post-title{
  color: #505050;
}

#title{
  font-size: 40px;
}

.post-title{
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
  font-style: italic;
}

.post{
  background-color: #fff;
  padding: 15px;
  border: 3px solid #505050;
  margin: 0px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.post-content{
  margin: 0;
  margin-bottom: 15px;
  text-align: justify;
}

.post-img{
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
}

.contact-list{
  list-style-type: none;
  padding-left: 15px;

}

.contact-list li a{
  text-decoration: none;
}